@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-image: url('https://img.freepik.com/premium-vector/space-art-banner-with-galaxy-abstract-space-background-web-print-social-media-design_391155-329.jpg?w=2000');
}

.nav-left img {
  height: 50px;
  padding: 10px;
}

.nav-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-center form {
  display: flex;
  align-items: center;
}

.nav-center input[type="text"] {
  width: 300px;
  padding: 12px 20px;
  margin-right: 8px;
  border: none;
  border-radius: 4px;
}

.nav-center button[type="submit"] {
  padding: 12px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.nav-right button {
  padding: 12px 20px;
  margin-left: 8px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.searchbar {
  background-image: url('https://img.freepik.com/premium-vector/space-art-banner-with-galaxy-abstract-space-background-web-print-social-media-design_391155-329.jpg?w=2000');
}

.date-range {
  display: flex;
  justify-content: center;
}

.button-group {
  display: flex;
  justify-content: center;
}

.button-group button {
  padding: 12px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 50px
}

/* homepage */
.discover-title {
  margin: 30px;
  font-family: 'Nunito', sans-serif;
}

.houses-container {
  display: flex;
  margin: 30px;
  overflow-x: auto;
  flex-wrap: nowrap;
}

::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

/* house */
.house-card {
  background-color: white;
  border-radius: 10px;
  width: 20%;
  height: 350px;
  overflow: hidden;
  border: #007bff solid;
  flex: 0 0 auto;
  margin-right: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.house-card img {
  width: 100%;
  height: 40%;
}

.fa {
  margin: 0px 10px;
}

.house-card-icon {
  display: flex;
  align-items: center;
  margin-right: 5px;
  height: 15%;
}

.rating {
  display: flex;
  align-items: center;
  height: 15%;
}

.rating i {
  color: orange;
  margin-right: 5px;
}

.btn {
  padding: 5px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 10%;
  margin: 0 10px;
}

.home-call-to-action {
  font-family: 'Nunito', sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
  border: 5px solid lightblue;
  text-align: center;
  background-image: url('https://img.freepik.com/free-photo/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1108.jpg?w=2000');
}

.home-call-to-action ul {
  margin: 0;
  padding: 0;
}

.home-call-to-action ul li {
  display: inline-block;
  margin: 0 50px;
}

/* prompt */
.create-btn {
  padding: 12px 20px;
  margin-left: 8px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Login o register page */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.card h2 {
  margin-top: 0;
}

.form {
  margin-top: 20px;
}

.form label {
  display: block;
  margin-top: 10px;
}

.form input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form button[type="submit"] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form button[type="submit"]:hover {
  background-color: #45a049;
}

.close-button {
  float: right;
  font-size: 15px;
  color: #000;
}

/* edit home */
.edit-form .form-items {
  display: flex;
  justify-content: space-evenly
    /* to distribute elements evenly */
}

.edit-form .form-title {
  width: 10%;
  /* adjust the width of label to your preference */
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    /* add some margin to separate label and input */
}

.edit-form .form-select,
.form-textarea,
.form-date-range {
  width: 50%;
  /* adjust the width of input to your preference */
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
  /* add some margin to separate label and input */
}

.edit-form .form-input {
  width: 50%;
  /* adjust the width of input to your preference */
  padding: 10px;
  margin-bottom: 10px;
  text-align: left
}

hr {
  width: 80%;
  height: 30px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}

.form-footer button {
  width: 80%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-footer {
  display: flex;
  justify-content: center;
}

/* dashboard */
.call-to-action {
  background-image: url('https://t3.ftcdn.net/jpg/02/27/05/42/360_F_227054246_IBYllETVnUsZE5iMVaR4IclNg38G2skA.jpg');
  background-size: cover;
  width: 100%;
  height: 300px;
  position: relative;
}

.call-to-action h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.call-to-action button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  /* Green */
  color: white;
  border: none;
  cursor: pointer;
}

.dashboard-list {
  display: flex;
  overflow-x: scroll;
  margin: 30px;
}

/* inbox */
.chat {
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
}

.contact-container {
  width: 25%;
  height: 100vh;
  background-color: white;
  padding: 10px;
  box-shadow: 2px 2px 5px gray;
}

.contact-list-title {
  font-weight: bold;
  text-align: center;
  /* margin-bottom: 10px; */
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  ;
  border-radius: 10px;
}

.contact-list {
  padding: 0;
  margin: 10px;
  height: 90%;
}

.contact {
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  height: 15%;
  border-radius: 10px;
  margin: 10px 0;
}

.contact-name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.open-chat {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  width: 100%;
  height: 30%;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 0 0 10px 10px;
}

.chat-container {
  width: 75%;
  height: 100vh;
  background-color: white;
  padding: 10px;
  box-shadow: 2px 2px 5px gray;
  overflow-y: scroll;
}
.outer-container {
  height: 100vh;
}

.message-box {
  height: 100%;
}
.chat-title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  ;
  border-radius: 10px;
}

.message-container {
  height: 80%;
  overflow-y: scroll;
}

.messages {
  padding: 5px;
  width: 40%;
  word-wrap:break-word;
  height: fit-content;
  margin-bottom: 10px;
  border-radius: 10px;
}

.message-right {
  align-self: flex-start;
  text-align: left;
  margin-left: auto;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.message-left {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  align-self: flex-start;
  margin-right: auto;
}

.user-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.message-text {
  padding: 10px;
  border-radius: 5px;
  background-color: #ccc;
}

.input-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  height: 10%;
}

#text {
  padding: 10px;
  border: none;
  border-radius: 5px;
  flex-grow: 1;
  margin-right: 10px;
}

.send-button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* house detail */
.house-detail-page {
  width: 100%;
  margin: 20px auto;
  display: flex;
}

.h-and-d {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.house-header {
  position: relative;
  height: 300px;
  overflow: hidden;
  border-radius: 20px;
}

.house-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.house-header-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 20px;
}

.house-header-content h1 {
  margin-top: 0;
  font-size: 36px;
  font-weight: bold;
}

.house-rating {
  margin-top: 10px;
  font-size: 18px;
}

.house-rating i {
  color: #ffc107;
}

.house-description {
  margin: 10px auto;
  font-size: 18px;
  line-height: 1.5;
}

.house-details {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 50%;
  border: #007bff 1px solid;
  padding: 20px;
  border-radius: 20px;
}

.detail {
  width: 30%;
  text-align: left;
}

.detail h2 {
  font-size: 20px;
  margin-top: 0;
}

.house-amenities {
  margin-bottom: 40px;
}

.house-amenities h2 {
  font-size: 20px;
  margin-top: 0;
}

.house-amenities ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.house-amenities li {
  width: 35%;
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.house-amenities li i {
  margin-right: 10px;
  font-size: 24px;
  color: #ffc107;
}

.house-reviews {
  margin-bottom: 40px;
}

.house-reviews h2 {
  font-size: 24px;
  margin-top: 0;
}

.dates-av {
  margin: -30px 0 0 30px;
}

.dates-av h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* search page */
.search-page p, h2{
  margin: 20px;
}

.filter-container {
  display: flex;
  margin: 20px;
}
